<footer id='footer' class="center-text">
    <div class="center">
        <span id="footer-name" class=>Arjun Singh Gill</span>
        <a href="mailto:agill6@sfsu.edu" class="white">Contact Owner</a>
    </div>
</footer>
