<nav id="nav-bar" class="flexbox">
    <a href="../index" id="index-button" class="looksLikeButton nav-item">INDEX</a>
    <input id="search-text" name="search-text" type="text" class="nav-item" placeholder="Search Bar">
    <a href="/postimage" id="post-button" class="looksLikeButton nav-item">POST</a>
    {{#if logged}}
    <a href="/users/logout" id="authentication-button" class="looksLikeButton nav-item">LOG OUT</a>
    {{else}}
    <a href="/login" id="authentication-button" class="looksLikeButton nav-item">LOGIN</a>
    {{/if}}
</nav>
