<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/imagepostCss.css">
</head>
<body>
    <div class="grid-container">
        <section id="header">
            <h1>image post</h1>
        </section>
        <section id="title">
            <label>Post title</label>
        </section>
        <section id="author">
            <label>Post Author</label>
        </section>
        <section id="time">
            <label>Post creation time</label>
        </section>
        <section id="image">
            <img src="https://fakeimg.pl/300/"></img>
        </section>
    </div>
</body>
</html>
