<div class="grey-box center">
    <h1>Login Page</h1>
    <form class="grid-container">
        <input class="clear-box" id="username" type="text" placeholder="Username" >
        <input class= "clear-box" id="password" type="password" placeholder="Password" >
        <button class="looksLikeButton" id="login" type="submit">Login</button>
        <a class="looksLikeButton" href="/registration" > Register </a>
    </form>
</div>
