<div class="grey-box center">
    <section>
        <h1>Post Image</h1>
    </section>
    <form class="grid-container">
        <input id="title-field" type="text" placeholder="Title">
        <input id="description-field" type="text" placeholder="Text (optional)">
        <label id="image" class="white">enter your image or images</label>
        <input id="image-field" type="file">
        <div>
            <input id="accept-policy" type="checkbox">
            <a id="the-policy" href="the-policy" class="blue">I accept the acceptable use policy</a>
        </div>
        <button id="submit" type="submit">submit the selected image</button>
    </form>
</div>
