<div class="center grey-box">
    <section>
        <h1>Registration Form</h1>
    </section>
    <form class="grid-container" onsubmit="submitForm(event)" method="POST" action="/users/register"
    enctype="application/x-www-form-urlencoded">
        <input id="username" type="text" placeholder="Username" name="username" required>
        <input id="email" type="email" placeholder="email" name="email" required>
        <input id="password" type="password" placeholder="Password" name="password" required>
        <input id="re-enter-password" type="password" placeholder="Re-enter password">
        <div >
            <input id="confirm-age-checkbox" type="checkbox" required>
            <label id="confirm-age" class="white">confirm that you are atleast 13 years old</label>
        </div>
        <label class="white">By submitting this form you are accepting the privacy rules</label>
        <a id="tosprivacy" class="blue" href="#tos-and-privacy-rules">TOS and Privacy Rules</a>
        <button class="looksLikeButton" id="submit-form" type="submit">submit</button>
    </form>
</div>
