<div class="center grey-box">
    <section id="header">
        <h1>image post</h1>
    </section>
    <section id="title">
        <label>{{title}}</label>
    </section>
    <section id="author">
        <label>{{author}}</label>
    </section>
    <section id="time">
        <label>The post was created at: {{time}}</label>
    </section>
    <section id="image">
        <img src="{{source}}"></img>
    </section>
</div>
