
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: black;
    background-image:  url(../images/app/background2.jpeg);
    background-position: top center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color:#1e2833;
    height: 40px;
    color: white;
}

#home-container {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 41px;
    gap: .25em;
}

#banner {
    background-color: black;
    padding: 20px;
    color: white;
    font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav-bar {
    background-color:#1e2833;
    padding: 10px;
}

#search-text {
    flex-grow: 4;
}

#search-button {
    background-color: #24a0ed;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

#flash-message {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0);
    z-index: 9999;
}

#viewpost-container {
    display: grid;
    grid-template-areas: "image post"
                         "image comments";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 5px;
    gap: 5px;
    background: #D3D3D3;
    background-clip: content-box;
}

#viewpost-container > img {
    grid-area: image;
    height: 75vh;
    width: 100vw;
}

#viewpost-container > #post-details {
    grid-area: post;
    display: grid;
    grid-template-areas: "header header"
                         "author date"
                         "description description";
    grid-template-rows: fit-content(10%) fit-content(10%) 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

#post-details > header {
    grid-area: header;
    text-align: center;
    background-color: #1e2833;
}

#post-details > #author {
    grid-area: author;
    text-align: center;
}

#post-details > #time {
    grid-area: date;
    text-align: center;
}
#post-details > #description {
    grid-area: description;
    text-align: center;
}

#viewpost-container > #comments-container {
    grid-area: comments;
    display: flex;
    flex-direction: column;
}
#comments-container > header {
    flex-grow: 1;
    background-color: #1e2833;
}
#comments-container > #comments-display {
    flex-grow: 20;
    margin: 3px;
    overflow-y: auto;
    display: flex;
    flex-flow: column-reverse nowrap;
    scroll-behavior: smooth;
}

#comments-display > div[id^=message-] {
    display: grid;
    grid-template-rows: .3fr, 1fr;
    grid-template-columns: 1fr, 1fr;
    gap: .2em;
    padding: .25rem;
    margin: .2rem;
    font-size: 1rem;
    color: black;
    border: .0625rem solid grey;
    border-radius: .25rem;
    grid-template-areas: "author createdAt"
                         "comment comment";
}

div[id^=message-] > .comment-text {
    grid-area: comment;
    justify-self: start;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
    min-height: 60px;
}

div[id^=message-] > .author-text {
    grid-area: author;
    color: blue;
    justify-self: start;
}

div[id^=message-] > .date-posted {
    grid-area: createdAt;
    justify-self: end;
}

#comments-container > #comment-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#comment-box > #comment-box-text {
    flex-grow: 9;
    margin: 3px;
}
#comment-box > #comment-button {
    flex-grow: 1;
    margin: 3px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin: 4px;
    gap: .25em;
}

.grey-box {
    background-color:#1e2833;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
    padding: 40px;
    border-radius: 4px;
}

.clear-box {
    border: none;
    background: none;
    border-bottom:1px solid #434a52;
    color: white;
    outline: none;
}

.looksLikeButton {
    appearance: auto;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    margin: 0em;
    padding: 1px 6px;
    border-color: white;
    text-decoration: none;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blue {
    color: #1877f2;
}

.white {
    color: white;
}

.center-text {
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.miniGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    margin: 4px;
    gap: .25em;
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    margin: 4px;
    gap: .25em;
    background-color: #1e2833;
    padding: 2px;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: .25em;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-title {
    color: white;
    margin: 2px;
}
.card-description {
    color: white;
    margin: 2px;
}

.alert {
    margin: 4px;
    padding: 6px;
    border-radius: 3px;
}

.alert-danger {
    color: rgb(185,74,72);
    border: 1px solid rgb(238,211,215);
    background-color: rgb(242,222,222);
}

.alert-success {
    color: rgb(70,136,71);
    border: 1px solid rgb(214,233,198);
    background-color: rgb(223,240,216);
}

.alert-info {
    color: rgb(58,135,173);
    border: 1px solid rgb(188,232,241);
    background-color: rgb(217,237,247);
}

.rounded-border {
    border: 2px solid black;
    border-radius: 5px;
}

