
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: black;
    background-image:  url(https://images.template.net/wp-content/uploads/2017/01/18062722/200-Blurred-Backgrounds-Free-Download.jpg?width=600);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color:#1e2833;
    height: 40px;
    color: white;
}

#viewpost-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    padding-right: 50px;
    padding-left: 50px;
    gap: .25em;
}

#banner {
    background-color: black;
    padding: 20px;
    color: white;
    font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav-bar {
    background-color:#1e2833;
    padding: 10px;
}

#search-text {
    flex-grow: 4;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin: 4px;
    gap: .25em;
}

.grey-box {
    background-color:#1e2833;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
    padding: 40px;
    border-radius: 4px;
}

.clear-box {
    border: none;
    background: none;
    border-bottom:1px solid #434a52;
    color: white;
    outline: none;
}

.looksLikeButton {
    appearance: auto;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    margin: 0em;
    padding: 1px 6px;
    border-color: white;
    text-decoration: none;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.blue {
    color: #1877f2;
}

.white {
    color: white;
}

.center-text {
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.miniGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .2fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    margin: 4px;
    gap: .25em;
}
